# ==================
# Python
# ==================

__pycache__/
*.py[cod]
*$py.class


# ==================
# 虚拟环境
# ==================

.venv/
venv/
env/


# ==================
# 环境变量
# ==================

.env
.env.*


# ==================
# API密钥
# ==================

*.key
*.secret


# ==================
# Mac
# ==================

.DS_Store


# ==================
# 日志
# ==================

*.log


# ==================
# 临时文件
# ==================

*.tmp


# ==================
# IDE
# ==================

.vscode/
.idea/


# ==================
# Python缓存
# ==================

.pytest_cache/
.mypy_cache/
